/*
    --------------
    BUTTONS
    --------------

    Declaring standard button and CTA styles
*/


.cta {
    transition: all .4s ease-in-out;
    
    padding: 10px 40px;
    background-color: colors( red );

    font-size: rem(20px);
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: colors( white );

    &:hover {
        background-color: colors( red, 'dark' );
    }
} // .cta