.hero {
    position: relative;
    height: 500px;
    overflow: hidden;

    &__content {
        position: absolute;
        top: 50%;
        left: 0;
        
        width: 100%;
        text-align: center;
        
        transform: translateY( -50%);
    } // &__content

    &__image {
        
        img {
            position: absolute;
            top:  50%;
            left: 50%;
            transform: translate( -50%, -50% );
            min-width:  100%;
            height:     100%;
        } // img

    } // &__image

    &__title {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
        color: colors( white );
    } // &__title

    .wrapper {
        position: relative;
        height: 100%;
    } // .wrapper

    @include breakpoint( dog ) {

        &__image {
        
            img {
                width:      100%;
                min-height: 100%;
            } // img

        } // &__image

        &__content {
            left: 20px;
        } // &__content
        
        &__title {
            margin-bottom: 40px;
            font-size: 40px;
        } // &__title

    } // @include breakpoint( dog )

    @include breakpoint( horse ) {
        
        height: 600px;

        &__image {
        
            img {
                width:  auto;
                height: auto;
                min-width:  100%;
                min-height: 100%;
            } // img

        } // &__image

        &__content {
            left: 0;
            max-width: 400px;
            text-align: left;
        } // &__content

        &__title {
            font-size: 64px;
        } // &__title

    } // @include breakpoint( horse )

    @include breakpoint( elephant ) {
        height: 768px;
    } // @include breakpoint( elephant )

} // .hero