// Section About
.about {
    margin-bottom: 15px;
    padding: 50px 0;
    background-color: colors( red );

    span {
        display: block;
        margin-bottom: 20px;
        text-transform: uppercase;
    } // span

    &--teachers {
        .about__description {
            font-size: rem(14px);

            span {
                font-size: rem(18px);
            } // span
            
        } // .about__description
        
    } // &--teachers

    &__description {
        font-size: rem(16px);
        color: colors( white );
        line-height: 2;
    } // &__text

    @include breakpoint( dog ) {

        &--teachers {
            .about__description {
                font-size: rem(14px);

                span {
                    font-size: rem(18px);
                } // span
                
            } // .about__description
            
        } // &--teachers

        &__description {
            max-width: 75%;
            font-size: rem(18px);
        } // &__description

    } // @include breakpoint( dog )

    @include breakpoint( horse ) {
        padding: 100px 0;

        &--teachers {
            .about__description {
                font-size: rem(16px);

                span {
                    font-size: rem(25px);
                } // span
                
            } // .about__description

        } // &--teachers

        &__description {
            font-size: rem(25px);
        } // &__text
    } // @include breakpoint( horse )

} // .about



// Content Sections
.content-section {
    height: 400px;
    margin-bottom: 15px;

    &.connect {
        background: url('../images/section-connect-bg.jpg') center no-repeat;
        background-size: cover;
    } // &.connect

    &.content {
        background: url('../images/section-content-bg.jpg') center no-repeat;
        background-size: cover;
    } // &.connect

    &.interaction {
        background: url('../images/section-interaction-bg.jpg') center no-repeat;
        background-size: cover;
    } // &.connect

    .wrapper {
        position: relative;
        height: 100%;
    } // .wrapper

    &__content {
        position: absolute;
        top:  50%;
        left: 0;

        padding: 0 20px;

        max-width: 500px;

        transform: translateY( -50% );

        text-align: center;

        .content-section__simbol {
            margin-bottom: 40px;
        } // .content-section__simbol

        p {
            margin-bottom: 30px;
            font-size: rem(14px);
            color: colors( white );

            &:last-child {
                margin-bottom: 0;
            } // &:last-child

            a {
                transition: all .4s ease-in-out;

                font-weight: 800;
                text-decoration: none;
                color: colors( white );

                &:hover {
                    color: colors( red );
                } // :hover

            } // a

        } // p


        @include breakpoint( dog ) {
            left: 50%;
            padding: 0;
            transform: translate( -50%, -50% );
        } // @include breakpoint( dog )

        @include breakpoint( horse ) {
            width: 50%;
            text-align: left;

            transform: translateY( -50% );

            .content-left & {
                left: 20px;
            } // .content-left &

            .content-right & {
                right: 20px;
            } // .content-right &

            p {
                font-size: rem(20px);
            } // p

        } // @include breakpoint( horse )

    } // &__content

    @include breakpoint( horse ) {
        height: 650px;

        &.connect,
        &.content,
        &.interaction {
            background-size: auto;
            background-attachment: fixed;
        } // .connect
    } // @include breakpoint( horse )

} // .content-section



// Teachers Section
.teachers {
    padding: 40px 0;

    &__item {
        margin-bottom: 20px;
        list-style: none;

        a {
            display: block;
        } // a
    } // &__item

    &__photo {
        position: relative;
        height: 365px;
        overflow: hidden;

        &:after {
            transition: all .6s ease-in-out;

            content: '';
            position: absolute;
            left:   0;
            right:  0;
            bottom: 0;

            height: 70%;

            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

            z-index: 2;
        } // &:after

        img {
            transition: all .6s ease-in-out;

            position: absolute;
            top:  50%;
            left: 50%;

            min-width: 100%;
            max-height: 100%;

            transform: translate( -50%, -50% ) scale3d(1, 1, 1);

            z-index: -1;
        } // img


        figcaption {
            position: absolute;
            bottom: 20px;
            width: 100%;

            padding: 0 20px;

            z-index: 3;
        } // figcaption

    } // &__photo

    &__name {
        max-width: 170px;

        font-size: rem(25px);
        color: colors( white );
        text-transform: uppercase;
    } // &__name


    &__see-more {
        transition: all .4s ease-in-out;

        position: absolute;
        right: 20px;
        bottom:   0;

        font-size: rem(30px);
        font-weight: bold;
        color: colors( red );
    } // &__see-more


    @include breakpoint( dog ) {
        
        &__item {
            display: inline-block;
            width: 48%;
            margin-right: 20px;

            &:nth-child(2n) {
                margin-right: 0;
            }
        } // &__item

    } // @include breakpoint( dog )

    @include breakpoint( horse ) {

        &__see-more {
            right: -20px;
        } // &__see-more

        &__photo {

            &:hover {
                &:after {
                    height: 120%;
                } // &:after

                .teachers__see-more {
                    right: 20px;
                } // .teachers__see-more

                img {
                    transform: translate(-50%, -50%) scale3d(1.05, 1.05, 1.05);
                } // img
            } // &:hover

        } // &__photo

    }


    @include breakpoint( elephant ) {
        
        &__item {
            width: 31%;
            margin-right:  35px;
            margin-bottom: 35px;

            &:nth-child(2n) {
                margin-right: 35px;
            }

            &:nth-child(3n) {
                margin-right: 0;
            } // &:nth-child(3n)
        } // &__item

    }

} // .teachers


// Pricing section

#sucesso {
    margin-top: 20px;
    color: green;
}

.pricing {
    padding: 50px 0;

    &__item {
        margin-bottom: 50px;

        @include breakpoint( dog ) {
            display: inline-block;
            margin-right: -4px;
            margin-bottom: 0;
            vertical-align: top;
        }
    } // __item

    &__cta {
        display: block;
        width: 100%;
    } // &__cta

    &__values {
        @include breakpoint( dog ) {
            width: 50%;
        }
    } // &__values

    &__coffee {

        &__title {
            color: colors( red );
            font-size: rem(20px);
            font-weight: bold;
            text-transform: uppercase;
        } // &__title

        @include breakpoint( dog ) {
            width: 50%;

            &__title {
                font-size: rem(18px);
            } // &__title
        }

        @include breakpoint( horse ) {
            &__title {
                font-size: rem(30px);
            } // &__title
        }

    } // &__coffee

    &__class-hour {
        font-size: rem(30px);
        font-weight: bold;
        text-transform: uppercase;
    } // &__class-hour

    &__plan {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        } // &:last-of-type

        h2 {
            margin-bottom: 15px;
            color: colors(red );
        } // h2

        p {
            margin: 0 0 10px;
        } // p
    } // __plan

} // .pricing


// Spaces

.spaces {
    padding: 50px 0;

    &__item {
        margin-bottom: 50px;
        list-style: none;

        &:last-child {
            margin-bottom: 0;
        }
    } // &__item

    &__img-container {
        margin-bottom: 20px;
        max-height: 260px;
        overflow: hidden;
        
        img {
            width: 100%;
        } // img

    } // &__img-container

    &__caption {

        .h2 {
            margin-bottom: 20px;
            color: colors( red );
            text-transform: uppercase;
            
        } // .h2

        p {
            span {
                display: block;
            } // span
        } // p

        a {
            transition: all .4s ease-in-out;
            color: colors( red );

            @include breakpoint( horse ) {

                &:hover {
                    color: colors( red, 'dark' );
                } // &:hover

            } // @include breakpoint( horse )

        } // a

    } // &__caption

    @include breakpoint( dog ) {
        
        &__col {
            display: inline-block;
            
            width: 50%;
            margin-right: -4px;

            vertical-align: top;

            &:first-of-type {
                padding-right: 20px;
            }

            &:last-of-type {
                padding-left: 20px;
            }
        } // &__img-container, &__caption

        &__img-container {
            
            img {
                transition: all .4s ease-in-out;
            }
            
            &:hover {
                img {
                    transform: scale( 1.05, 1.05 );
                } // img
            } // :hover
        } // &__img-container

    } // @include breakpoint( dog )

    @include breakpoint( horse ) {

        &__caption {
            .h2 {
                font-size: rem( 30px );
            } // .h2
        } // &__caption

    } // @include breakpoint( horse )

} // .spaces